@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles Start */
.display-flex {
  display: flex;

  .text-primary {
    color: #ff900e;
  }

  /* dark 02 */
  .text-gray {
    color: #424242;
  }
  /* dark 03 */
  .text-light-gray {
    color: #727272;
  }
}
.btn-primary {
  color: white;
  background-color: rgb(255, 144, 14);
  font-size: 1.1rem;
  font-weight: 600px;
  padding: 18px 22px;
  border: none;
  border-radius: 8px;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

main {
  max-width: 1140px;
  margin: 0 auto;
}
main > section {
  margin-top: 110px;
}

.section-title {
  font-weight: 700;
  font-size: 3.9rem;
}
/* Header Styles Start */

/* Navbar Related Styles Start */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-weight: 700;
  font-size: 3rem;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
}

.navbar,
.banner {
  max-width: 1140px;
  margin: 0 auto;
}

/* Banner related style Start*/
.banner-content {
  max-width: 850px;
  margin: auto;
  text-align: center;
  margin-bottom: 35px;
}

.banner-image {
  max-width: 100%;
}
.banner-title {
  font-weight: 700;
  font-size: 3.9rem;
}
/* team and feature related styles */
.teams {
  align-items: center;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.team-img-container > img {
  height: 285px;
  width: 285px;
}
.our-feature {
  max-width: 530px;
  margin-left: 100px;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}
#Quick {
  font-weight: 500;
}
/* features section styles */
#feature-section-title {
  margin-top: 0px;
  font-size: 2.8rem;
  font-weight: 700;
}
.features img {
  max-width: 600px;
  max-height: 900px;
}
.features {
  gap: 80px;
}
#feature-section-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.feature-card-container {
  padding: 30px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}
.feature-card-container .card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
}

#experience-badge {
  padding: 40px 36px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: -120px;
  margin-left: -100px;
}

#experience-year {
  font-size: 3.6rem;
  font-weight: 700;
}
.featured-architect img {
  width: 100%;
}
/* responsive medias query */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-link,
  .teams,
  .features {
    flex-direction: column;
  }
  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-feature {
    margin-left: 15px;
  }
  #experience-badge {
    margin-top: 20px;
    margin-left: 20px;
  }
}

/* mediam device design */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams,
  .features {
    flex-direction: column;
    .our-feature {
      margin: 50 auto;
    }
  }
  #experience-badge {
    margin-top: 20px;
    margin-left: 20px;
  }
}
